<?xml version="1.0"?>
<launch>
    <node pkg="mapviz" type="mapviz" name="mapviz">
        <param name="config" value="$(find zeus_viz)/config/mapviz.config"/>
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="map_origin_transform_pub" args="0 0 0 0 0 0 /map /origin 100"  />

    <!-- Initialize GPS origin -->
    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="MDRS"/>  <!-- Change this to the name of the wanted location in the list-->
        <rosparam param="local_xy_origins">
        [{ name: MDRS,
            latitude: 38.406333,
            longitude: -110.791962,
            altitude: 1372.0,
            heading: 0.0},
            
            { name: UdeS,
            latitude: 45.378395,
            longitude: -71.926644,
            altitude: 263.0,
            heading: 0.0},
            
            { name: UdeS_PK1,
            latitude: 45.3772267,
            longitude: -71.9277420,
            altitude: 0,
            heading: 0.0},

            { name: Etienne,
            latitude: 45.2961394,
            longitude: -71.9630744,
            altitude: 0,
            heading: 0.0}]

        </rosparam>
    </node> 
</launch>