<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <group ns="$(arg robot_namespace)">

    <include file="$(find steve_control)/launch/control.launch" >
      <arg name="simulation" value="true"/>
      <arg name="simple" value="true"/>
    </include>

    <!-- Spawn robot in gazebo -->
    <node name="spawn_rover_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

  </group>

</launch>