<?xml version="1.0"?>
<launch>
    <arg name="use_simple_obstacle_detector" default="true"/>

    <include if="$(arg use_simple_obstacle_detector)" file="$(find steve_nav)/launch/obstacle_detector_simple.launch" />
    <include unless="$(arg use_simple_obstacle_detector)" file="$(find steve_nav)/launch/obstacle_detector.launch"/>
    <include file="$(find steve_nav)/launch/move_base.launch"/>

    <include file="$(find goal_manager)/launch/goal_manager.launch"/>

    <node pkg="led_controller" type="led_controller.py" name="led_controller" output="screen">
        <param name="rate" value="5"/>
        <param name="time_thresh" value="0.5"/>
    </node>

</launch>
