<launch>
    <node name="obstacle_detector_PC_to_LS" type="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" output="screen">
        <remap from="cloud_in" to="/zed_node/point_cloud/cloud_registered"/>
        <remap from="scan" to="/obstacle_detector/scan"/>
        <rosparam command="load" file="$(find zeus_nav)/config/laserscan_parameters.yaml" />     
    </node>  
</launch>
