capture_directory: ~
fixed_frame: origin
target_frame: base_link
fix_orientation: true
rotate_90: false
enable_antialiasing: true
show_displays: true
show_status_bar: true
show_capture_tools: true
window_width: 1920
window_height: 1015
view_scale: 0.05730863
offset_x: -2.966621
offset_y: 1.97603
use_latest_transforms: true
background: "#a0a0a4"
image_transport: compressed
displays:
  - type: mapviz_plugins/tile_map
    name: new display
    config:
      visible: true
      collapsed: true
      custom_sources:
        - base_url: http://localhost:8080/wmts/gm_layer/gm_grid/{level}/{x}/{y}.png
          max_zoom: 19
          name: Google Maps
          type: wmts
      bing_api_key: ""
      source: Google Maps
  - type: mapviz_plugins/occupancy_grid
    name: Global Costmap
    config:
      visible: true
      collapsed: true
      alpha: 1
      topic: /move_base/global_costmap/costmap
      update: true
      scheme: costmap
  - type: mapviz_plugins/occupancy_grid
    name: Local Costmap
    config:
      visible: true
      collapsed: true
      alpha: 1
      topic: /move_base/local_costmap/costmap
      update: true
      scheme: costmap
  - type: mapviz_plugins/navsat
    name: new display
    config:
      visible: true
      collapsed: true
      topic: /fix
      color: "#f57900"
      draw_style: points
      position_tolerance: 3
      buffer_size: 0
  - type: mapviz_plugins/laserscan
    name: new display
    config:
      visible: true
      collapsed: true
      topic: /obstacle_detector/scan
      size: 7
      buffer_size: 1
      alpha: 1
      color_transformer: Flat Color
      min_color: "#ef2929"
      max_color: "#000000"
      value_min: 0
      value_max: 100
      use_rainbow: false
  - type: mapviz_plugins/odometry
    name: new display
    config:
      visible: false
      collapsed: true
      topic: /global_ekf/odom
      color: "#00ff00"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: false
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 25
      show_timestamps: 0
  - type: mapviz_plugins/tf_frame
    name: new display
    config:
      visible: true
      collapsed: true
      frame: base_link
      color: "#3465a4"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: false
      arrow_size: 20
  - type: mapviz_plugins/path
    name: Global Plan
    config:
      visible: true
      collapsed: true
      topic: /move_base/NavfnROS/plan
      color: "#00ff00"
  - type: mapviz_plugins/path
    name: Local Plan
    config:
      visible: true
      collapsed: true
      topic: /move_base/DWAPlannerROS/local_plan
      color: "#ef2929"
  - type: mapviz_plugins/move_base
    name: new display
    config:
      visible: true
      collapsed: true
  - type: mapviz_plugins/coordinate_picker
    name: new display
    config:
      visible: true
      collapsed: false
      frame: wgs84
      copy: false