<launch>

   <node pkg="mapviz" type="mapviz" name="mapviz">
        <param name="config" value="$(find steve_viz)/config/mapviz.config"/>
    </node>

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="UdeS"/>  <!-- Change this to the name of the wanted location in the list-->
        <rosparam param="local_xy_origins">
          [{ name: MDRS,
             latitude: 38.406333,
             longitude: -110.791962,
             altitude: 1372.0,
             heading: 0.0},
             
           { name: UdeS,
             latitude: 45.378395,
             longitude: -71.926644,
             altitude: 263.0,
             heading: 0.0}]
        </rosparam>
      </node>
    
    <node pkg="tf" type="static_transform_publisher" name="map_origin_transform_pub" args="0 0 0 0 0 0 /map /origin 100"  />
  
</launch>