<?xml version="1.0" ?>
<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <group ns="$(arg robot_namespace)">

    <include file="$(find zeus_control)/launch/control.launch" >
      <arg name="simulation" value="true"/>
      <arg name="simple" default="false"/>
    </include>

    <include file="$(find zeus_watchdog)/launch/heartbeat.launch" />

    <!-- Spawn robot in gazebo -->
    <node name="spawn_rover_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />
    
    <node name="zeus_controller_spawner" pkg="controller_manager" type="spawner" 
      args="--namespace=/zeus
            joint_state_controller
            right_front_wheel_velocity_controller
            right_rear_wheel_velocity_controller
            left_front_wheel_velocity_controller
            left_rear_wheel_velocity_controller"/>

  </group>

</launch>