<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<arg name="simple" default="true"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find zeus_gazebo)/worlds/mars1.world"/>
		<arg name="debug" value="false" />
		<arg name="gui" value="true" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
	</include>

	<include file="$(find zeus_gazebo)/launch/spawn_zeus_simple.launch" if="$(arg simple)">
		<arg name="z" value="0.15" />
		<arg name="yaw" default="0.7"/>
	</include>
	<include file="$(find zeus_gazebo)/launch/spawn_zeus.launch" unless="$(arg simple)">
		<arg name="z" value="0.15" />
		<arg name="yaw" default="0.7"/>
	</include>
	

</launch>