<?xml version='1.0'?>
<launch>

  <!-- TODO: verify parameter values of the real robot -->
  <arg name="simulation" default="false"/>
  <arg name="base_width" default="0.4"/>
  <arg name="ticks_per_meter" default="384836"/> <!-- (6045*40)/(3.14159265359*0.2) -->
  <arg name="encoder_min" default="-2147483647"/>  <!-- #6045 ticks/turn -->
  <arg name="encoder_max" default="2147483647"/>
  <arg name="publish_tf" default="false"/>

  <!-- Differential drive controller -->
  <node pkg="differential_drive" type="diff_drive.py" name="diff_drive">
    <param name="base_width" value="$(arg base_width)" />
    <param name="ticks_per_meter" value="$(arg ticks_per_meter)" />
    <param name="encoder_min" value="$(arg encoder_min)" />
    <param name="encoder_max" value="$(arg encoder_max)" />
    <param name="publish_tf" value="$(arg publish_tf)"/>
    <remap from="odom" to="base_odom"/>
    <remap from="cmd_vel" to="cmd_vel_out"/>
  </node>

  <!-- Hardware interface -->
  <node pkg="differential_drive" type="hardware_interface.py" name="hardware_interface" output="screen">
    <param name="wheel_radius" value="0.2"/>
    <param name="encoder_min" value="$(arg encoder_min)" />
    <param name="encoder_max" value="$(arg encoder_max)" />
    <param name="simulation" value="$(arg simulation)"/>
    <remap from="cmd_motors_diff_drive" to="wheel_vel_target"/>
  </node>

  <!-- Motor drivers -->
  <include file="$(find steve_control)/launch/motor_drivers.launch" >
    <arg name="simulation" default="$(arg simulation)"/>
  </include>

</launch>