<?xml version='1.0'?>
<launch>

  <include file="$(find steve_description)/launch/description.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 

  <node pkg="steve_teleop" type="zero_twist_publisher" name="zero_twist_publisher" >
    <param name="rate" value="10" />
  </node>

  <!-- obstacle detector node, converts pointcloud into laserscan -->
  <node name="obstacle_detector_PC_to_LS" type="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" output="screen">
        <remap from="cloud_in" to="/d435/depth/color/points"/>
        <remap from="scan" to="/obstacle_detector/scan"/>
        <rosparam command="load" file="$(find steve_nav)/config/laserscan_parameters.yaml" />     
    </node>

  <!-- Twist Multiplexer -->
  <node name="twist_mux" pkg="twist_mux" type="twist_mux">
    <rosparam command="load" file="$(find steve_control)/config/twist_mux_topics.yaml" />
    <rosparam command="load" file="$(find steve_control)/config/twist_mux_locks.yaml" />
    <remap from="cmd_vel_out" to="cmd_vel_mux" />
  </node>

  <node name="steve_watchdog" pkg="steve_watchdog" type="steve_watchdog">
    <rosparam file="$(find steve_control)/config/watchdog_topics.yaml" command="load" />
    <remap from="info" to="watchdog/info" />
    <remap from="status" to="watchdog/status" />
    <remap from="cmd_vel_in" to="cmd_vel_mux" />
    <remap from="cmd_vel_out" to="cmd_vel_watchdog" />
  </node>
    
  <!-- Odometry sources -->
  <node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" >
    <remap from="rgb/image" to="/d435/color/image_raw" />
    <remap from="rgb/camera_info" to="/d435/color/camera_info" />
    <remap from="depth/image" to="/d435/depth/image_rect_raw" />
    <remap from="odom" to="rgbd_odom" />
    <rosparam command="load" file="$(find steve_control)/config/rgbd_odometry.yaml"/>
  </node>

  <!-- EKF Localization -->
  <node name="local_ekf" pkg="robot_localization" type="ekf_localization_node" >
    <rosparam command="load" file="$(find steve_control)/config/local_ekf.yaml"/>
    <remap from="/odometry/filtered" to="/local_ekf/odom" />
  </node>

  <node name="global_ekf" pkg="robot_localization" type="ekf_localization_node" >
    <rosparam command="load" file="$(find steve_control)/config/global_ekf.yaml"/>
    <remap from="/odometry/filtered" to="/global_ekf/odom" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="zero_altitude" value="true" />
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>  <!-- Change depending on location and date -->
    <remap from="/gps/fix" to="/fix" />
    <remap from="/odometry/filtered" to="/global_ekf/odom" />
  </node>

</launch>
