<?xml version="1.0"?>
<launch>
    <!-- Launch gps -->
    <!-- Do not forget to give access to the port : sudo chmod 666 /dev/ttyACM0 -->
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen"> 
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="115200" />
    </node>
</launch>
    