<launch>
	<node pkg="i2c_imu" type="i2c_imu_node" name="i2c_imu" output="screen" ns="imu">
		<param name="publish_magnetometer" value="true"/>
	    <rosparam file="$(find steve_control)/config/mpu9250.yaml"/>		
	</node>

	<node pkg="steve_control" type="magnetometer_orientation.py" name="magnetometer_orientation" >
	</node>
</launch>