<?xml version="1.0" ?>

<launch>

  <!-- Launch master discovery -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen">
  </node>

  <!-- Launch master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
  </node>

</launch>
